@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
   <h1 class="display-4">Emprestimo</h1>
   <p>Vá ler e devolva o livro!!!</p>
   <div>
    <img src="/img/cartoon-characters-png-44249.png" width="520" height="405"/>
   </div>


</div>
